<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">WeLearn CMS</a>

        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a (click)="onSelect('document')">Documents</a></li>
                <li><a (click)="onSelect('message')">Messages</a></li>
                <li><a (click)="onSelect('contact')">Contacts</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropdown>
                    <a href="#" class="dropdown-toggle" role="button">User <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="default">Login</a></li>
                        <li class="default"><a href="#">Other</a></li>
                        <li class="special-dropdown default"><a href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
