<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
          <span class="title pad-left-right">Contacts</span>
        </div>
        <div class="row">
          <div class="input-group pull-left pad-left-right col-xs-7">
            <!-- Add the search box input field here -->
            <input type="text" (keyup)="search(searchBox.value)" class="form-control" placeholder="Enter a search value" [(ngModel)]="search" #searchBox>
            <div class="glyphicon glyphicon-search input-group-addon"></div>
          </div>
          <div class="pull-right pad-left-right">
            <a class="btn btn-success" [routerLink]="['new']">New Contact</a>
          </div>
        </div>
      </div>
    <div class="panel-body">
        <app-contacts-item *ngFor="let contactEl of contacts |  contactsFilter: search: 'name';" [contact]="contactEl" 
                            dnd-draggable [dragEnabled]="true" [dragData]="contactEl" [dropZones]="['contactGroup']">
        </app-contacts-item>
    </div>
</div>